/* URGENT! DO NOT DELETE! */
@font-face {
    font-family: 'material-icons';
    font-style: normal;
    src: url('Icons/MaterialIcons-Regular.ttf');
}
/* FONT DECLARATION */
.material-icons {
    font-family: 'material-icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
/* gtk components style */
.gtkButton {
    border-radius: 5px;
    border-width: 0px;
    border-style: none;
    border-color: none;
    padding: 7px;
    margin: 0px;
    background-color: #909090;
    color: #fff;
    font-size: 12px;
    font-family: Inter;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    cursor: default;
    outline: none;
    border: 1px solid #fff;
}
.appMenu {
    display: inline-block;
    padding: 35px;
    background-color: #1d1d1dA6;
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    backdrop-filter: blur(9px);
}
.appMenuLauncher {
    display: inline-block !important;
    text-align: center;
    margin-left: 35px;
    background: none;
    cursor: pointer;
    color: white;
    border: 0px black solid;
}
.appMenuGTK {
    background: none;
    color: white;
    border: 0px black solid;
}
body {
    font-family: Inter !important;
    background-image: url("bg.jpg");
    background-size: cover;
    overflow: hidden;
  }
  Header {
    overflow: hidden;
    width: 100%;
    background-color: #90909099;
    height: 20px;
    margin: 0;
    padding: 5px;
    overflow: auto;
    backdrop-filter: blur(9px);
    z-index:1;
    position:fixed!important;
  }
  .window {
      height: 0px;
      width: 0px;
      display: none;
  }
  .header {
     width: 590px;
     height: 30px;
     background-color: #909090;
     cursor: move;
     border-radius: 2px 2px 0px 0px;
     overflow: auto;
     padding-left: 5px;
     padding-right: 5px;
  }
  .content {
     width: 600px;
     margin: 0;
     padding: 0;
     height: 450px;
  }
  .headertext {
      color: white;
      float: right;
      background: none;
      border: black solid 0px;
      font-family: Inter;
      font-size: 17.5px;
      height: 30px;
      padding-left: 5px;
  }
  .closebutton {
      float: left;
      background: red;
      height: 75%;
      width: 25px;
      border: black solid 0px;
      font-size: 5px;
      border-radius: 15px;
      margin-top: 4px;
      color: white;
  }
  .closebutton:hover{
      background-color: darkred;
      border: black solid 0px;
      color: white;
  }
  li {
      float: left;
      display: block;
  }
  *{
      margin: 0;
      padding: 0;
  }
  
  nav{
  display: inline-block;
  }
  .sidebar2 {
      backdrop-filter: blur(9px);
      width: 100%;
      position:fixed!important;
      z-index:1;
      overflow:auto;
      padding: 2.5px;
      background-color: #90909099;
      display: flex;
      bottom: 0;
      justify-content: center;
  }
  .menubutton2 {
      background: none;
      border: black solid 0px;
      font-family: Inter;
      color: black;
      float: left;
      text-align: left;
      font-size: 15px
  }
  .list {
      width: 60%;
      margin: auto;
  }
    .minimize {
      float: left;
      background-color: orange;
      height: 75%;
      width: 25px;
      border: black solid 0px;
      font-size: 20px;
      color: white;
      margin-top: 4px;
      border-radius: 15px;
      margin-left: 5px;
  }
  .minimize:hover{
      background-color: darkorange;
      border: black solid 0px;
  
  }
    .menubuttonminimized {
      background-color: #919191;
      border: black solid 0px;
      color: black;
      float: left;
      display: none;
      margin-left: 15px;
      font-size: 15px;
      font-family: Inter;
      height: 25px;
      color: white;
  }
.OptionButton {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background: none;
    border: black solid 0px;
    color: black;
    float: left;
}
textarea {
  font-size: 20px;
  font-family: arial;
  padding: 5px;
}
header i {
  padding-top: 2px;
}
textarea {
  backdrop-filter: blur(4px);
}
.logoicon {
  background: none;
  border: black solid 0px;
  float: left;
  display: none;
  font-size: 17.5px;
  color: white;
}
#menu {
  z-index:1;
  position:fixed!important;
  background-color: #90909099;
  backdrop-filter: blur(9px);
  border: black solid 1px;
  border-width: 0px 0px 1px 0px;
  margin-top: 30px;
}
#menu button{
  background: none;
  width: 100%;
  text-align: left;
  border: none;
  color: white;
  font-size: 20px;
  border: black solid 1px;
  border-width: 1px 0px 0px 0px;
  padding: 2px;
}
#menu button:hover{
  background: lightgrey;
  color: black;
}
    .context-menu {
      position: absolute;
      text-align: left;
      background: #90909099;
      border: 1px solid black;
      border-radius: 10px;
      backdrop-filter: blur(9px);
    }

    .context-menu ul {
      padding: 0px;
      margin: 0px;
      width: 150px;
      border-radius: 10px;
    }

    .context-menu ul li {
      padding-bottom: 7px;
      padding-top: 7px;
      border: 1px solid black;
      border-width: 0px 0px 1px 0px;
      padding: 5px;
      width: 138px;
      border-radius: 10px;
    }

    .context-menu ul li a {
      text-decoration: none;
      color: white;
    }

    .context-menu ul li:hover {
      background: lightgrey;
      color: black;
    }
.settings button {
  padding: 1px;
}