body {
    font-family: Inter !important;
    background-image: url("bg.jpg");
    background-size: cover;
    overflow: hidden;
  }
  Footer {
    overflow: hidden;
    width: 100%;
    background-color: #3f3f3f80;
    height: 25px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    backdrop-filter: blur(10px);
  }
  .window {
      height: 0px;
      width: 0px;
      display: none;
  }
  .header {
     width: 603px;
     height: 30px;
     background-color: #D3D3D399;
     cursor: move;
     overflow: auto;
     padding-right: 3px;
     border-radius: 5px 5px 0px 0px;
     backdrop-filter: blur(10px);
  }
  .content {
     width: 600px;
     margin: 0;
     padding: 0;
     height: 450px;
     overflow: auto;
     border: #d3d3d399 solid 3px;
     border-width: 0px 3px 3px 3px;
     border-radius: 0px 0px 5px 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .headertext {
      color: black;
      background: none;
      border: black solid 0px;
      font-family: Inter;
      font-size: 16px;
      height: 30px;
      padding-left: 3px;
  }
  .closebutton {
      float: right;
      background-color: red;
      height: 75%;
      width: 50px;
      border: black solid 0px;
      font-size: 15px;
      color: black;
      border-radius: 0px 0px 3px 3px;
  }
  .closebutton:hover{
      background-color: darkred;
      border: black solid 0px;
      color: white;
      box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
  
  }
  li {
      float: left;
      display: block;
  }
  *{
      margin: 0;
      padding: 0;
  }
  
  nav{
  display: inline-block;
  }
  .sidebar2 {
      height: 75%;
      width:300px;
      position:fixed!important;
      z-index:1;
      overflow:auto;
      padding: 2.5px;
      background-color: #3f3f3f80;
      display: flex;
      flex-direction: column;
      color: white;
      bottom: 0;
      margin-bottom: 25px;
      border-radius: 5px 5px 0px 0px;
      backdrop-filter: blur(10px);
  }
  .menubutton2 {
      background: none;
      border: black solid 0px;
      font-family: Inter;
      color: white;
      float: left;
      text-align: left;
      font-size: 15px
  }
  button {
      padding: 2px;
    }
  .list {
      width: 60%;
      margin: auto;
  }
    .minimize {
      float: right;
      background: none;
      height: 75%;
      width: 25px;
      border: black solid 0px;
      font-size: 15px;
      color: black;
      border-radius: 0px 0px 3px 3px;
  }
  .minimize:hover{
      background-color: grey;
      border: black solid 0px;
      color: white;
  
  }
    .menubuttonminimized {
      background-color: #1d1d1d;
      border: black solid 0px;
      color: black;
      float: left;
      padding: 2.5px;
      font-size: 15px;
      height: 25px;
      color: white;
  }
textarea {
  font-size: 20px;
  font-family: arial;
  padding: 5px;
}
.settingssidebar h4 {
  padding: 5px;
}
.settingssidebar {
  backdrop-filter: blur(10px);
}
.footericons i {
  padding: 2px;
  margin: 0;
}
#span {
  font-size: 17.5px;
  margin: 0;
  padding: 0;
}
#gear:hover {
  animation: spin 2s linear; infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#signout {
  padding: 5px;
  font-size: 20px;
}
#logout {
  border: black solid 1px;
  border-radius: 5px;
  margin-bottom: 2px;
}
#logout:hover {
  background: #d3d3d399;
}